/* ================================= 
  Base Styles
==================================== */



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	body {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

	body {
		flex-direction: column;
		
		height: 100vh;
	}

	.row {
		flex: 1;
	}

	

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}