/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-header {
    display: flex;
    flex-direction: column;
  }
  
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* step 2 */
  .row {
    display: flex;
  }

  .col {
    flex: 1;
  }

}

@media (min-width: 1025px) {
  .main-header {    
    flex-direction: row;
    justify-content: space-between;
  }

  /* step 2 */
  .primary {
    flex-grow: 2;
  }
}